<main>
  <p id="notice"></p>
  <div class="container">
    <h2 class="head-line title_h2">新規会員登録</h2>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

     <div class="row form-group mt-5">
      <%= f.label :"名前", class: "col-2 col-form-label" %>
      <%= f.label :"(姓)", class: "col-1 col-form-label" %>
      <%= f.text_field :last_name, autofocus: true, placeholder: "山田", class: "col-3 form-control" %>
      <%= f.label :"(名)", class: "col-1 col-form-label" %>
      <%= f.text_field :first_name, autofocus: true, placeholder: "花子", class:"col-3 form-control" %>
     </div>

     <div class="row form-group">
      <%= f.label :"フリガナ", class: "col-2 col-form-label" %>
      <%= f.label :"(セイ)", class: "col-1 col-form-label" %>
      <%= f.text_field :kana_last_name, autofocus: true, placeholder: "ヤマダ", class: "col-3 form-control" %>
      <%= f.label :"(メイ)", class: "col-1 col-form-label" %>
      <%= f.text_field :kana_first_name, autofocus: true, placeholder: "ハナコ", class: "col-3 form-control" %>
     </div>

      <div class="field">
         <%= f.label :email %></br>
         <%= f.email_field :email, autofocus: true, placeholder: "sample@exanple.com", autocomplete: "email" ,class: "col-7 form-control"%>
      </div>

       <div class="field">
         <%= f.label :"郵便番号(ハイフンなし)" %></br>
         <%= f.text_field :postal_code, autofocus: true, placeholder: "4790215" ,class: "col-7 form-control"%>
      </div>
       <div class="field">
         <%= f.label :"住所" %></br>
         <%= f.text_field :residence, autofocus: true, placeholder: "東京都渋谷区代々木神園町0-0",class: "col-7 form-control" %>
      </div>

       <div class="field">
         <%= f.label :"電話番号(ハイフンなし)" %></br>
         <%= f.text_field :phone_number, autofocus: true, placeholder: "0957234569" ,class: "col-7 form-control"%>
      </div>

      <div class="field">
        <%= f.label :"パスワード(6文字以上)" %><br />
        <%= f.password_field :password, autocomplete: "new-password",class: "col-7 form-control" %>
      </div>

      <div class="field">
        <%= f.label :"パスワード(確認用)" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: "col-7 form-control"%>
      </div>

      <p></p>

      <div class="actions">
        <input type="submit" name="commit" value="Sign up" class="btn btn-sm btn-success" data-disable-with="Sign up">
      </div>

      <% end %>
      <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</main>
