<div class="row">
  <div class="col-md-6 offset-md-2">
    <h5 class="d-inline bg-gray pr-3 pl-3 page-title">商品詳細</h5>
  </div>
</div>
<div class="row mt-5 offset-md-2 page-title">
    <div class="col-md-5 text-center">
      <%= attachment_image_tag(@product, :image, :fill, 250, 250, fallback: "no-image-icon.jpg") %>
    </div>
      <div class="col-md-5 ml-5 text-left">
  		<table class='field'>
  		  <tr>
  		    <td>商品名:</td>
  		    <td><%= @product.name %></td>
  		  </tr>
  		  <tr>
          <td>商品説明:</td>
          <td><%= @product.description %></td>
        </tr>
        <tr>
          <td>ジャンル:</td>
          <td><%= @product.genre.name %></td>
        </tr>
        <tr>
          <td>税込み価格（税抜き価格）:</td>
          <td><%= @product_intax %>(<%= @product.price %>)</td>
        </tr>
        <tr>
          <td>販売ステータス:</td>
          <td><%= @product.status ? '販売中' : '販売停止中' %></td>
        </tr>
      </table>
    </div>
  </div>
</div>