<h2>注文情報入力</h2>
  <% if @cart_items.present? %>
    <%= form_with model:@order, url:check_orders_path, method: :post, local: true  do |f| %>
      <p>支払い方法</p>
      <div>
        <%= f.radio_button :payment_method, :"クレジットカード", checked: "checked" %>
        <%= f.label :payment_method, "クレジットカード" %>
      </div>
      <div>
        <%= f.radio_button :payment_method, :"銀行振込" %>
        <%= f.label :payment_method, "銀行振込" %>
      </div>

      <p>お届け先</p>
      <div>
        <input type="radio" id="r1" name="address" value="r1">
        <label for="address">ご自身の住所</label>
        <%= current_customer.postal_code %> <%= current_customer.residence %></br>
        <%= current_customer.last_name %> <%= current_customer.first_name %>
      </div>

      <% if @delivery != [] %>
      <div>
        <input type="radio" id="r2" name="address" value="r2">
        <label for="address">登録済住所から選択</label>
        <%= f.collection_select(:delivery_id, @delivery, :id, :delivery_address) %>
      </div>
      <% end %>

      <div>
        <input type="radio" id="r3" name="address" value="r3">
        <label for="address">新しいお届け先</label>
      </div>
      <div>
        <label for="address">郵便番号(ハイフンなし)</label>
        <%= f.text_field :postcode %>
      </div>
      <div>
        <label for="address">住所</label>
        <%= f.text_field :address %>
      </div>
      <div>
        <label for="address">宛名</label>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.submit "確認画面へ進む" %>
      </div>
  <% end %>
  <% else %>
      <!-- カートアイテムがない時 -->
    <p>ショッピングカートに商品がありません。</p>
  <% end %>