<h2>注文情報入力</h2>
  <% if current_customer.cart_items.present? %>
    <%= form_with :model => @order, url:check_customers_orders_path, method: :post, local: true  do |f| %>
      <p>支払い方法</p>
      <div>
        <%= f.radio_button :payment_method, :"クレジットカード", checked: true %>
        <span>&nbsp;クレジットカード</span>
      </div>
      <div>
        <%= f.radio_button :payment_method, :"銀行振込" %>
        <span>&nbsp;銀行振り込み</span>
      </div>

      <p>お届け先</p>
      <div>
        <%= f.radio_button :addresses, "residence", checked: true  %>
        <span>&nbsp;ご自身の住所</span></br>
        &emsp;&emsp;<%= "#{current_customer.postal_code} #{current_customer.residence}" %></br>
        &emsp;&emsp;<%= "#{current_customer.last_name} #{current_customer.first_name}" %>
      </div>

          <div>
            <%= f.radio_button :addresses %>
              <span>&nbsp;登録済住所から選択</span><br>
          <% end %>
          </div>
          <div>
            <%= f.radio_button :addresses %>
            <span>&nbsp;新しいお届け先</span><br>
          </div>
            <div>
              <%= f.label :"郵便番号(ハイフンなし)" %>
              <%= f.text_field :postal_code %>
            </div>
            <div>
              <%= f.label :"住所" %>
              <%= f.text_field :address %>
            </div>
            <div>
              <%= f.label :"宛名" %>
              <%= f.text_field :name %>
            </div>
          <div>
            <%= f.submit "確認画面へ進む", class: "btn-success" %>
          </div>