<!DOCTYPE html>
<html>
  <head>
    <title>nagano-cake</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/header' %>
<<<<<<< HEAD

    <% flash.each do |name, msg| %>
=======
　　<div class="main">
　　   <% flash.each do |name, msg| %>
>>>>>>> 6535c75c29d88ccfcb0e23be37f9834ddbd7bba8
     <div class="alert alert-<%= name %>">
      <%= msg.html_safe %>
     </div>
    <% end %>
<<<<<<< HEAD
　　<div class="main">
=======
>>>>>>> 6535c75c29d88ccfcb0e23be37f9834ddbd7bba8
     <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
